<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated demo -->
      <package
            uri="http://www.example.com/demo"
            class="moon.nju.edu.cn.demo.DemoPackage"
            genModel="src/demo.genmodel"/>
   </extension>

</plugin>
